In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
data=pd.read_csv('data.csv', delimiter=',',names = ['Year','Rainfall','Production'])
data.head()

      Year  Rainfall  Production
0  2017-18      2506    36279300
1  2016-17      1945    34201500
2  2015-16      2098    35060500
3  2014-15      1937    34861200
4  2013-14      1700    34356300

In [ ]:
x = data.Rainfall
y = data.Production
print(x[:5])
print(y[:5])