In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
data=pd.read_csv('data.csv', delimiter=',',names = ['Date','Teperature'])
data.head()

   Date  Teperature
0  1.08        31.1
1  2.08        31.5
2  3.08        30.0
3  4.08        28.1
4  5.08        26.7

In [3]:
x=data.Date
y=data.Teperature

In [ ]:
plt.scatter(x,y, color = 'red') 
plt.title('Date vs Teperature')
plt.xlabel('Date')
plt.ylabel('Teperature')
plt.show()